<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
         xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="9c372412-a7bb-4463-867f-3f45605131cb"
            Publisher="CN=Radon"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="125445be-dd1a-4fb2-bb74-c0aaa9c2a241"
                    PhonePublisherId="6253e0f9-8e8a-4abf-83fe-cb537048ec13"/>

  <Properties>
    <DisplayName>techere-silverligth-</DisplayName>
    <PublisherDisplayName>Radon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="AGHost.exe"
                 EntryPoint="MainPage.xaml">
      <m3:VisualElements
          DisplayName="techere-silverligth-"
          Square150x150Logo="Assets\SquareTile150x150.png"
          Square44x44Logo="Assets\Logo.png"
          Description="techere-silverligth-"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>

      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
          <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>

    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>

</Package>